.error-text {
    margin-top: 5px;
}

.error-img {
    max-width: 45%;
    max-height: 40%;
    margin-bottom: 15px;
}


/* "Home" link */

.clickable {
    text-decoration: underline;
    font-size: 20px;
    color: green;
    margin-top: 30px;
}