<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <!-- Error image and text -->
                <img class="error-img" src="../../../assets/Error.png">
                <div class="mb-4 lead error-text"> Oops... Something went wrong :(</div>
                <div class="mb-4 lead"> Either this page doesn't exist or you don't have permission to access it.</div>
                <!-- A button that directs a user to the "Join a Session" page -->
                <div class="clickable" (click)="redirect()"><b>Home</b></div>

            </div>
        </div>
    </div>
</div>